<h4>Post details</h4>
<br>
<h5>
  <%= @post.content %>
  <br>
  <span style="font-size:75%; color: #999">Added at <%= @post.created_at %></span>
</h5>
<br>
<% if @comments.any? %>
  <h4>Comments:</h4>
  <br>
  <% @comments&.each do |comment| %>
  <p>
    <%= comment&.body %>
    <br>
    <span style="font-size:75%; color: #999">Added at <%= comment&.created_at %></span>
    <br>
  </p>
  <% end %>
<% end %>

<form action="/details/<%= @post.id %>" method="POST" role="form">
  <div class="form-group">
    <textarea name="body" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>